@import '../../styles/utils/variables';
.rangeCard {
  &__container {
    position: absolute;
    border-radius: 4px;
    top: 39px;
    left: 59px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 16px;
    z-index: 1000;
    &--light {
      background-color: $white;
      border: 1px solid $gray-300;
      box-shadow: 2px 2px 5px $gray-400;
    }
    &--dark {
      background-color: $gray-800;
      border: 1px solid $gray-600;
      box-shadow: 2px 2px 5px $gray-600;
    }
    &-box {
      align-self: flex-start;
      width: 184px;
    }
    &--visible {
      overflow: visible;
    }
  }

  &__transition-container {
    width: 384px;
    height: 160px;
    overflow: visible;
    position: relative;
    z-index: 1000;
  }

  &__icon-prevMonth,
  &__icon-nextMonth {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
    &--light {
      fill: $secondary;
    }
    &--dark {
      fill: $gray-300;
    }
    &--disabled {
      fill: $gray-200;
      cursor: not-allowed;
    }
  }
  &__weekday {
    width: 26px;
    height: 26px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray-300;
  }

  &__day {
    cursor: pointer;
    width: 26px;
    height: 26px;
    font-size: 12px;

    margin: 1px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &--prevNextMonth {
      color: $gray-500;
    }
    &--selected-light {
      background-color: $blue-600;
      color: $white;
    }
    &--selected-dark {
      background-color: $blue-600;
    }
    &--hidden {
      visibility: hidden;
    }
    &--startTime {
      border-radius: 12px 0 0 12px;
    }
    &--endTime {
      border-radius: 0 12px 12px 0;
    }
    &--between-light {
      border-radius: 0;
      background-color: #eff6fa;
    }
    &--between-dark {
      border-radius: 0;
      background-color: $blue-400;
    }
    &--today {
      border-radius: 5px;
      background-color: $danger;
      color: $white;
    }
    &--disabled-light {
      color: $gray-200;
      cursor: not-allowed;
    }
    &--disabled-dark {
      color: $gray-600;
      cursor: not-allowed;
    }

    &--weekend {
      color: $blue-600;
    }
  }
}
