@import '../../styles/utils/variables';
.rangeCard {
  &__container {
    border: 1px solid rgb(222, 226, 230);
    position: absolute;
    top: 39px;
    left: 55px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 16px;
    &--light {
      background-color: $white;
    }
    &--dark {
      background-color: var(--bs-gray-800);
    }
    &-box {
      align-self: flex-start;
      width: 184px;
    }
    &--visible {
      overflow: visible;
    }
  }

  &__transition-container {
    width: 384px;
    height: 180px;
    overflow: visible;
    position: relative;
    z-index: 1000;
  }

  &__icon-prevMonth,
  &__icon-nextMonth {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
    &--light {
      fill: $secondary;
    }
    &--dark {
      fill: var(--bs-gray-300);
    }
    &--disabled {
      fill: var(--bs-gray-200);
      cursor: not-allowed;
    }
  }
  &__weekday {
    width: 26px;
    height: 26px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(222, 226, 230);
  }

  &__day {
    cursor: pointer;
    width: 26px;
    height: 26px;
    font-size: 12px;

    margin: 1px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &--prevNextMonth {
      color: var(--bs-gray-500);
    }
    &--selected-light {
      background-color: $primary;
    }
    &--selected-dark {
      background-color: $light;
    }
    &--hidden {
      visibility: hidden;
    }
    &--startTime {
      border-radius: 10px 0 0 10px;
    }
    &--endTime {
      border-radius: 0 10px 10px 0;
    }
    &--between-light {
      border-radius: 0;
      background-color: $primary;
    }
    &--between-dark {
      border-radius: 0;
      background-color: $light;
    }
  }
}
