@import '../../styles/utils/variables';

.dateRange {
  & label {
    margin: 0;
  }
  &__calendar-icon {
    border: 1px solid $gray-600;
    width: 1.6rem;
    height: 1.6rem;
    &--light {
      fill: $secondary;
    }
    &--dark {
      fill: var(--bs-gray-300);
    }
  }

  &__input--dark {
    border: 1px solid $gray-600;
    background-color: $dark;
    color: $white;
    &::placeholder {
      color: white;
    }
    &:focus {
      background-color: $dark;
      color: white;
    }
  }
  &__inputgroup--dark {
    border: 1px solid $gray-600;
    background-color: $dark;
  }
  &__container {
    margin: 0 auto;
    width: 350px;
  }
}
