@import '../../styles/utils/variables';

.dateRange {
  & label {
    margin: 0;
  }
  &__calendar-icon {
    width: 1.6rem;
    height: 1.6rem;
    &--light {
      fill: $secondary;
    }
    &--dark {
      fill: var(--bs-gray-300);
    }
  }
  &__container {
    margin: 0 auto;
    width: 350px;
  }
}
