@import '../../styles/utils/variables';

.berlinClock {
  &__container {
    min-height: 90vh;
  }
  &__second {
    width: 90px;
    height: 90px;
    background-color: $secondary;
    border-radius: 50%;
    border: 8px solid $berlinClock;
    transform: translateY(6px);
    &--Y {
      background-image: radial-gradient(yellow, red);
    }
    &--O {
      background-image: none;
    }
  }
  &__join {
    height: 8px;
    width: 48px;
    background-color: $gray-700;
    margin: 0 48px;
  }
  &__row-cells-container {
    border-radius: 20px;
    width: 250px;
    height: 55px;
    background-color: $secondary;
    border: 4px solid $berlinClock;
    display: flex;
  }
  &__row-cell {
    flex: 1;
    border: 4px solid $berlinClock;
    &:first-child {
      border-radius: 15px 0 0 15px;
    }
    &:last-child {
      border-radius: 0 15px 15px 0;
    }
    &--O {
      background-image: none;
    }
    &--R {
      background-image: radial-gradient(orange, red, red);
    }
    &--Y {
      background-image: radial-gradient(yellow, red);
    }
  }
  &__time {
    font-family: 'D7';
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    &--dark {
      color: $white;
    }
    &--light {
      color: $secondary;
    }
  }
}
