@import '../../styles/utils/variables';

.theme {
  min-height: 100vh;
  &--light {
    background-color: white;
    color: $dark;
  }
  &--dark {
    background-color: $dark;
    color: $white;
  }
}
