@import '../../styles/utils/variables';

.theme {
  min-height: 100vh;
  &--light {
    background-color: $light;
    color: $dark;
  }
  &--dark {
    background-color: $dark;
    color: $light;
  }
}

.container {
  &__datePicker {
    margin: 0 auto;
    width: 250px;
  }
}
