@import '../../styles/utils/variables';

.toggleTheme {
  &__container {
    width: 2rem;
    height: 2rem;
  }
  &__btn {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 400ms;
    &--light:hover {
      background: $gray-300;
    }
    &--dark:hover {
      background: $gray-700;
    }
  }
}
