/* Fonts*/

/* App variables */

$berlinClock: #8e9395;

/* Bootstrap variable */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 8,
  8: $spacer * 12,
  9: $spacer * 18,
  10: $spacer * 24,
);

// $font-family-sans-serif: 'RCR';
$font-family-sans-serif: 'UL';
$primary: #0d6efd;
$secondary: #455161;
$success: #589f3d;
$info: #0dcaf0;
$warning: #fbc053;
$danger: #e9265e;
$light: #4bb9ef;

// $dark: #3b3936;
$dark: #0e1624;
// border-bottom: #31,43,65
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

@import '~bootstrap/scss/bootstrap';
