@import '../../styles/utils/variables';

.monthCard {
  &__container {
    position: absolute;
    top: 39px;
    left: 64px;
    width: 204px;
    height: auto;
    border: 1px solid #dee2e6;
  }
  // &__container--isPrevious-month {
  //   left: -139px;
  //   width: 204px;
  // }
  // &__container--isNext-month {
  //   left: 205px;
  //   width: 204px;
  // }
  &__icon-prevMonth,
  &__icon-nextMonth {
    width: 1.4rem;
    height: 2rem;
    cursor: pointer;
    &--light {
      fill: $secondary;
    }
    &--dark {
      fill: var(--bs-gray-300);
    }
  }
  &__weekday {
    font-size: 12px;
    width: 1.8rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &--light {
      background-color: var(--bs-gray-400);
    }
    &--dark {
      background-color: var(--bs-gray-600);
    }
  }

  &__toggleMonth--dark {
    background-color: var(--bs-gray-600);
  }
  &__toggleMonth--light {
    background-color: var(--bs-gray-400);
  }

  &__day {
    cursor: pointer;
    width: 1.8rem;
    height: 1.4rem;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    &--prevMonth {
      color: var(--bs-gray-500);
      cursor: initial;
    }
  }
}
