@import '../../styles/utils/variables';

.datePicker {
  & label {
    margin: 0;
  }
  &__calendar-icon {
    width: 1.6rem;
    height: 1.6rem;
    &--light {
      fill: $secondary;
    }
    &--dark {
      fill: var(--bs-gray-300);
    }
  }

  &__input--dark {
    background-color: $dark;
    color: $white;
    &::placeholder {
      color: white;
    }
  }
  &__inputgroup--dark {
    background-color: $dark;
  }
  &__container {
    margin: 0 auto;
    width: 260px;
  }
}
