@import '../../styles/utils/variables';

.footer {
  &__container {
    height: 360px;
    border-top: 1px solid #1f2b41;
  }
  &__link,
  &__listitem {
    font-size: 12px;
    color: $gray-500;
    padding: 6px 0;
  }
  &__heading {
    color: $gray-500;
  }
  &__icon {
    width: 26px;
    height: 26px;
  }
  &__copyright {
    font-size: 11px;
  }
}
